body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.greet {
    /* padding: 200px; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}
